/*****************************
 *       TESTIMONIAL PAGE STYLES
 *****************************/

/*****************************
 *       VARIABLES
 *****************************/
:root {
  --bs-tertiary: #797E88;
  --color-primary: #0a4275;
  --color-primary-dark: #05264a;
}

/*****************************
 *       SPINNER
 *****************************/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  opacity: 1;
  visibility: visible;
  transition: opacity .5s ease-out, visibility 0s linear 0s;
}

/*****************************
 *       PAGE HEADER
 *****************************/
.page-header {
  background: linear-gradient(rgba(10, 66, 117, .9), rgba(10, 66, 117, .9)), url(../img/carousel-1.jpg) center center no-repeat;
  background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--bs-white);
}

/*****************************
 *       WOW ANIMATIONS
 *****************************/
.wow {
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slideInDown {
  animation-name: slideInDown;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
